/* color definition */
:root {
    --bg: #282828;
    --bg_dark: #1d2021;
    --fg: #ebdbb2;
    --gray: #928374;
    --red1: #cc241d;
    --red2: #fb4934;
    --green1: #98971a;
    --green2: #b8bb26;
    --yellow1: #d79921;
    --yellow2: #fabd2f;
    --orange1: #d65d0e;
    --orange2: #fe8019;
    --blue1: #458588;
    --blue2: #83a598;

    --card-title-color: var(--yellow2)
}

[data-theme="light"] {
    --bg: #fbf1c7;
    --bg_dark: #f9f5d7;
    --fg: #3c3836;

    --card-title-color: var(--orange1)
}


/* global style */

body {
    color: var(--fg);
    background-color: var(--bg);
}

.bg-dark-custom {
    background-color: var(--bg_dark);
}

::selection {
    background: var(--red2)
}

/* Sekcja HERO */
.hero {
    height: 20vh;
    background: linear-gradient(120deg, var(--red2), var(--yellow2));
}

/* headers */
h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    /* scale font sizes for screen width */
}

h2 {
    font-size: clamp(1.4rem, 3vw, 2.2rem);
}

/* h5 { */
/*     font-size: clamp(1.1rem, 2.5vw, 1.6rem); */
/* } */
/**/
/* default links */
a {
    color: var(--red2);
    text-decoration: none;
}

/* Linki w liście */
#linki a {
    background-color: var(--bg_dark);
    border-color: var(--gray);
    color: var(--red2);
    font-weight: bold;

    h5 {
        color: var(--yellow2);
    }

    &:hover {
        background-color: var(--red2);
        color: var(--fg);
    }
}

.bg-card {
    background-color: var(--bg);
    border-color: var(--gray);
}

.card-title {
    color: var(--card-title-color);
}

.card-text {
    color: var(--fg);
}

.card-body {
    color: var(--bg);
}

.card-hover {
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.navbar {
    & .nav-link {
        color: var(--fg);
        &:hover { color: var(--red2);};
    }

    & .navbar-brand {
        color: var(--fg);
        font-weight: bold;
    }

    & .navbar-toggler {
        color: var(--gray);
        border-color: var(--fg);
    }
}


.btn {
    background-color: var(--fg);
    color: var(--bg_dark);

    &:hover { background-color: var(--red2) }
}

.form-check-input {
    border-color: var(--gray);
    background-color: var(--bg);

    &:checked {
        background-color: var(--red2);
        border-color: var(--red2);
    }
    &:focus {
        border-color: var(--gray);
        box-shadow: none;
    }
}

.badge-custom{
    background-color: var(--red2) !important;
    color: var(--fg) !important;
}
.badge-warning{
    background-color: var(--blue1) !important;
    color: var(--fg) !important;
}

.w-name {
    color: var(--blue1);
}

.card-text .warn-description {
    color: var(--green2);
}

.border-bottom {
    border-color: var(--green2) !important;
}
